.main-container {
    display: flex;
    height: 100vh;
  }
  
  .side-menu {
    width: 600px;
    padding: 20px;
    background-color: #f4f4f4;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  }
  
  .city-image {
    width: 100%;
    margin-top: 10px;
  }
  
  .map-container {
    flex-grow: 1;
    position: relative;
  }
  
  .map-button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  .map-button:hover {
    background-color: #0056b3;
  }
  