.custom-icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.818);  /* Fondo blanco semi-transparente */
    border-radius: 50%;                          /* Hace que el fondo sea redondo */
    width: 15px;                                 /* Tamaño del fondo */
    height: 25px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);    /* Sombra alrededor del ícono */
    border: 2px solid white;                     /* Borde blanco alrededor del fondo */
  }
  
  /* Estilo para el ícono dentro del div */
  .custom-icon-container svg {
    margin-top: 5px;  /* Ajusta el ícono dentro del círculo */
  }
  